/* Remove Gift Button */
.buttons_ce5b56 button:has([d^="M16.886 7.999H20C21.104 7.999 22 8.896 22 9.999V11.999H2V9.999C2 8.896 2.897"]) {
    display: none;
}

/* Rounded Context Menu */
.menu_dc52c6 { 
    border-radius: 10px; 
}

/* Modify display of edited tags from MessageLogger */
.messagelogger-edited time span {
    font-size: 0;
    line-height: 1;
    user-select: none;
}
.messagelogger-edited time span:before {
    font-size: 0.625rem;
    content: "✏️  ";
    filter: grayscale();
    display: inline-block;
    transform: scaleX(-1);
}

/* ReivewDB improvements */
/* textarea[placeholder*="Review @"] {
    background-color: #00000040;
} */

/* Max out width for embed msglinks */
[class^=embedFull] > [class^=gridContainer] {
  max-width: 100%;
}

/* better codeblock */
.shiki-root {
    background: var(--background-secondary) !important;
}

/* better devices tab */
.session_f56359 {
    background-color: var(--background-secondary);
    border-radius: 8px;
    padding: 12px 16px;
    padding-left: 12px;
    border-bottom: none;
    margin-top: 16px;
    gap: 12px;
}

.sessionIcon__540be {
    color: var(--interactive-normal);
    background: transparent;
}

:root .pipModeShort__2888b{
    width: 420px;
    height: 236px;
}

.vc-notification-root {
  background-color: #248046 !important;
}
.vc-notification-close-btn {
  color: white !important;
}

/* fix markdown styles */
[class*=markup-] h1 {
    margin: 25px 0 7px;
}
[class*=markup-] h2 {
    margin: 20px 0 7px;
}
[class*=markup-] li {
    margin: 0;
}

/* Chat textfield buttons (emoji, gif, etc) hidden in a drawer menu until hovered over - CSS snippet by DeadVoxels#3520 */
.buttons_ce5b56 {
    overflow: hidden;
    position: absolute;
    justify-content: flex-end;
    background: rgba(23, 24, 26, 0.25);
    border-radius: 8px;
    transition: all 350ms;
}
.buttons_ce5b56:where(:not(:hover)){
    max-width: 35px;
    right: -0px;
}
.buttons_ce5b56::before {
    opacity: 0%;
    transition: opacity 150ms;
    position: absolute;
    top: 4px;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Crect width='352' height='42' x='80' y='96' fill='rgb(181, 186, 193)' class='ci-primary'/%3E%3Crect width='352' height='42' x='80' y='240' fill='rgb(181, 186, 193)' class='ci-primary'/%3E%3Crect width='352' height='42' x='80' y='384' fill='rgb(181, 186, 193)' class='ci-primary'/%3E%3C/svg%3E");
    display: block;
    object-fit: cover;
    height: 44px;
    width: 35px;
}
.buttons_ce5b56:where(:not(:hover))::before {
    opacity: 100%;
    transition: opacity 350ms;
}
.buttons_ce5b56:hover {
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 16px;
    max-width: 100%;
    right: 0px;
    background: rgba(23, 24, 26, 0.5);
    transition: all 150ms;
}
.buttons_ce5b56 > div, .buttons_ce5b56 > button {
    transform: scaleX(0%) !important;
    opacity: 0%;
}
.buttons_ce5b56:hover > div, .buttons_ce5b56:hover > button {
    transform: scaleX(100%) !important;
    opacity: 100%;
}
.buttons_ce5b56 > div:hover svg, .buttons_ce5b56 > button:hover svg {
    height: 28px !important;
    width: 28px !important;
    margin-right: -2px;
    margin-left: -2px;
}
.buttons_ce5b56 > div:nth-last-child(2):hover > button > div > div > svg {
    margin-right: -4px;
    margin-left: -4px;
}
.buttons_ce5b56 > div svg, .buttons_ce5b56 > button svg {
    transition: all 0.3s;
}

/* Show Markdown URL link location */
.anchor_c8ddc0[title$=")"]::after {
    font-size: 0.7rem;
    content: " (" attr(href) ")";
    filter: grayscale(0.4);
}

/*Consistent Chatbox  */
.wrapper_fbbb73 {
  margin-bottom: 0;
  border-radius: 0;
  padding: 16.5px 0;
}
.form__13a2c {
  padding: 0;
  margin-top: 0;
  display: flex;
  flex-direction: column;
}
.channelTextArea__2e60f {
  margin-bottom: 0;
  border-radius: 0;
}
.base__512ed {
  position: absolute;
  width: calc(100% - 16px);
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
  box-sizing: border-box;
  top: -24px;
  left: 0;
  background: var(--bg-overlay-chat,var(--background-primary));
}
.base__512ed > .cooldownWrapper_de448f {
  margin: 0;
  position: static;
}
.scroller__1f96e {
  position: static;
}
.scrollableContainer__33e06 {
  border-radius: 0;
}
.scrollableContainer__33e06 > .inner__9fd0b {
  min-height: 53px;
  align-items: center;
}
.attachWrapper__6354f {
  display: flex;
  position: static;
  align-items: center;
}
.attachedBars_da3c74 {
  border-radius: 0;
}

/*remove nitro promo  */
.buttons_ce5b56>.button_afdfd9:first-child,
.link__2e8e1[href="/store"],
[class*="badgeContainer-"]:has([class*="bogoTrialBadge-"]),
[class*="giftCodeContainer-"]:first-child,
[aria-label="Customize your own profile theme, banner, animated avatar, and more with Nitro!"],
.containerWithMargin__7d380 {
  display: none;
}

/*Toggle Buttons v2  */
.container__871ba .slider__41d94 > svg > path, .container__871ba .slider__41d94 > rect {
    fill: white !important;
}
.container__871ba .slider__41d94 {
    margin-top: -2px;
    margin-left: -4px;
}
.container__871ba.checked__6bdb0 .slider__41d94 {
    margin-left: 0;
}
.container__871ba.checked__6bdb0 .slider__41d94 > svg > path, .container__871ba.checked__6bdb0 .slider__41d94 > rect {
    fill: var(--brand-experiment-300) !important;
}
.container__871ba:has(.slider__41d94) {
    height: 14px;
    width: 28px !important;
}
.container__871ba.checked__6bdb0:has(.slider__41d94) {
    background-color: var(--brand-experiment) !important;
}

/*Account Detail Grid  */
.background_b61fcc {
    background-color: transparent;
    padding: 0;
}
.fieldList_aab0de {
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
}
.field__9e8e2 {
    width: 100%;
    border-radius: 8px;
    background-color: var(--background-primary);
    max-height: unset;
    flex-direction: column;
    display: flex;
    padding: 15px;
    margin-top: 0;
    overflow-y: auto;
    height: 120px;
    margin-bottom: 0;
}
.field__9e8e2 .fieldButton_a93f59 {
    background-color: var(--button-secondary-background);
    border-radius: 6px;
    -webkit-transition: background-color .17s ease,color .17s ease;
    transition: background-color .17s ease,color .17s ease;
}
.field__9e8e2 .fieldButton_a93f59:hover {
    background-color: var(--button-secondary-background-hover);
}
.field__9e8e2 .fieldButton_a93f59:hover > div {
    background: none;
}
.field__9e8e2 .fieldButton_a93f59 {
    width: 100%;
    margin-right: 0;
    position: relative;
}
.field__9e8e2 .fieldButtonList__7db82 {
    gap: 5px;
}
.field__9e8e2::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}
.field__9e8e2::-webkit-scrollbar-corner {
    background-color: transparent;
}
.field__9e8e2::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-auto-thumb);
    min-height: 40px;
}
.field__9e8e2::-webkit-scrollbar-track {
    background-color: var(--scrollbar-auto-track);
}
.field__9e8e2::-webkit-scrollbar-thumb,
.field__9e8e2::-webkit-scrollbar-track {
    border: 4px solid transparent;
    background-clip: padding-box;
    border-radius: 8px;
}

/* Better Auth Apps Tab/Section  */
#authorized-apps-tab .deleteApp__18070 {
  opacity: 1;
  border: none;
  background-color: var(--button-danger-background);
  transition: background-color .17s ease,color .17s ease;
}
#authorized-apps-tab .deleteApp__18070:hover {
  background-color: var(--button-danger-background-hover);
}
#authorized-apps-tab .children_b15c64 {
  counter-reset: section -1;
  position: relative;
}
#authorized-apps-tab .children_b15c64 > .authedApp__51b26 {
  counter-increment: section;
}
#authorized-apps-tab .children_b15c64::after {
  counter-increment: section;
  content: "Authorized Apps: "counter(section);
  order: -1;
  position: absolute;
  color: var(--header-primary);
  top: -44px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}
#authorized-apps-tab .children_b15c64 .flexChild__6e093 > h3 {
  display: flex;
}
#authorized-apps-tab .sectionTitle_e32631 {
  opacity: 0;
}
#authorized-apps-tab .appAvatar_dc107b {
  width: 46px;
  height: 46px;
  background-color: var(--background-floating);
  box-shadow: 0 0 0 5px var(--background-floating);
}
#authorized-apps-tab .headerInfo__2d6b1 {
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  margin-top: -50px;
}
#authorized-apps-tab .headerInfo__2d6b1 > h4 {
  margin-left: 0;
  font-size: 20px;
}
#authorized-apps-tab .authedApp__51b26:not(:nth-child(2)) {
  margin-top: 40px;
}
#authorized-apps-tab .permission_b5be39 {
  border-bottom: 1px solid hsl(var(--primary-300-hsl)/.3);
  padding: 6px;
  height: fit-content;
  transition: .05s;
}
#authorized-apps-tab .permission_b5be39:hover {
  border-color: var(--primary-300);
}
#authorized-apps-tab .authedApp__51b26 {
  background-color: var(--background-secondary-alt);
  transition: box-shadow .2s ease-out,transform .2s ease-out,background .2s ease-out,opacity .2s ease-in,-webkit-box-shadow .2s ease-out,-webkit-transform .2s ease-out;
  border: none;
  border-radius: 8px;
}
#authorized-apps-tab .authedApp__51b26:hover {
  background-color: var(--background-tertiary);
  transform: translateY(-1px);
  box-shadow: var(--elevation-high);
}
#authorized-apps-tab .authedApp__51b26:hover .appAvatar_dc107b {
  box-shadow: 0 0 0 5px var(--background-floating),var(--elevation-high);
}

/* Better Modals */
@import url("https://dablulite.github.io/css-snippets/NoLightInDark/import.css");
.footer__89240 {
  border-radius: 0 0 16px 16px;
}
.root_a28985:not(:has(.imageWrapper_fd6587)) .templatesList-uohY49 > .container-x8Y1ix {
  width: calc(50% - 4px);
}
.root_a28985:not(:has(.imageWrapper_fd6587)) .templatesList-uohY49 > .container-x8Y1ix:first-child,
.root_a28985:not(:has(.imageWrapper_fd6587)) .templatesList-uohY49 > .optionHeader-27AHfD {
  width: 100%;
}
.root_a28985:not(:has(.imageWrapper_fd6587)) .templatesList-uohY49 > .optionHeader-27AHfD {
  margin: 0;
  text-transform: capitalize;
  line-height: 1;
  font-weight: 700;
  font-size: 1.125rem;
}
.root_a28985:not(:has(.imageWrapper_fd6587)) .templatesList-uohY49 {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-top: 0;
}
.root_a28985:not(:has(.imageWrapper_fd6587)) .content__764ce {
  padding: 20px 32px !important;
  overflow: hidden overlay !important;
  width: 100%;
  max-width: unset;
}
.root_a28985:not(:has(.imageWrapper_fd6587)) .templatesList-uohY49 + .footer-3ie9JP {
  flex-direction: row;
  gap: 8px;
  align-content: center;
  justify-content: center;
}
.root_a28985:not(:has(.imageWrapper_fd6587)) .templatesList-uohY49 + .footer-3ie9JP >  :is(.button_afdfd9, .footerTitle-3Bslxi) {
  width: 100%;
  margin-bottom: 0;
}
.root_a28985:not(:has(.imageWrapper_fd6587)) .templatesList-uohY49 + .footer-3ie9JP > .button_afdfd9 {
  align-self: center;
}
.optionsList-dmHy1l > .container-x8Y1ix + .text-sm-normal_d9d853 {
  text-align: left;
  padding-left: 5px;
}
.footer__89240 > .back-Uv5ziB {
  padding: 0;
  height: fit-content;
  max-height: unset;
  display: flex;
}
.footer__89240 > .button_afdfd9,
.footer__89240 > .back-Uv5ziB > .link-290TKp {
  padding: 12px 20px;
  font-weight: 600;
  min-width: unset;
  min-height: unset;
  height: fit-content;
  width: fit-content !important;
  border-radius: 8px;
}
.footer__89240 > .lookBlank__7ca0a,
.footer__89240 > .back-Uv5ziB > .link-290TKp,
.lookLink__93965.colorPrimary__6ed40 {
  background: var(--bg-overlay-3,var(--button-secondary-background));
  -webkit-transition: background .17s ease,color .17s ease;
  transition: background .17s ease,color .17s ease;
  color: var(--white-500) !important;
}
.footer__89240 > .back-Uv5ziB > .link-290TKp {
  text-decoration: none !important;
}
.footer__89240 > .lookBlank__7ca0a:hover,
.footer__89240 > .back-Uv5ziB > .link-290TKp:hover {
  background: var(--bg-overlay-hover,var(--button-secondary-background-hover));
}
.footer__89240 > .lookBlank__7ca0a:active,
.footer__89240 > .back-Uv5ziB > .link-290TKp:active {
  background: var(--bg-overlay-active,var(--button-secondary-background-active));
}
.root_a28985:not(:has(.imageWrapper_fd6587)) .createGuild-2m1V10 {
  display: flex;
  flex-direction: row-reverse;
  gap: 32px;
  padding: 0 32px !important;
}
.root_a28985:not(:has(.imageWrapper_fd6587)) .createGuild-2m1V10 > .nameInput-ph8KMi {
  margin-top: 0;
}
.root_a28985:not(:has(.imageWrapper_fd6587)) .header__6d5ea {
  flex-direction: row;
  flex-wrap: wrap;
  padding: 16px 32px;
}
.root_a28985:not(:has(.imageWrapper_fd6587)) .header__6d5ea > .title-1_TkpU {
  order: 1;
  width: calc(100% - 32px);
  text-align: left;
  line-height: 1;
  font-weight: 700;
  font-size: 1.125rem;
  display: flex;
  align-items: center;
}
.root_a28985:not(:has(.imageWrapper_fd6587)) .close__1080c {
  position: static;
  order: 2;
  margin: 0 !important;
  max-width: 32px;
}
.root_a28985:not(:has(.imageWrapper_fd6587)) .header__6d5ea > .tier2HeaderBackground-2XINxm {
  order: 3;
  width: calc(100% + 32px);
  margin-top: 0;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.25;
  text-align: left;
}
.root_a28985:not(:has(.imageWrapper_fd6587,[class*="art"])) {
  overflow: hidden;
}
.root_a28985:not(:has(.imageWrapper_fd6587)) {
  min-width: 500px;
  border-radius: 16px;
}
.root_a28985:not(:has(.imageWrapper_fd6587)) .close__1080c:has(+[class*="art"]) {
  position: absolute;
}
div[style*="position: absolute;"]:has(>.modalSize-3WSXDU) {
  position: static !important;
  transform: none !important;
  width: 100% !important;
}
div:has(>div[style*="position: absolute;"] >.modalSize-3WSXDU),
.modalSize-3WSXDU {
  width: 500px !important;
  height: fit-content !important;
}
.root_a28985:not(:has(.imageWrapper_fd6587)) > .container-1Lk8p7,
.root_a28985:not(:has(.imageWrapper_fd6587)) > .container-1Lk8p7 > div,
.root_a28985:not(:has(.imageWrapper_fd6587)) > .container-1Lk8p7 > div > div {
  width: 100% !important;
}
.header__6d5ea > .header-2hjw1J {
  margin-left: -12px;
  margin-right: -12px;
  margin-top: 0;
  width: calc(100% + 24px);
}
.body__59737 > div,
.body__59737 > div > div,
.body__59737 .sliderBody__54a36 {
  width: 100% !important;
  max-width: unset;
}
.stepBody-3ZoVrh > div:has(>.planOptionClickableContainer-O-50CZ) {
  display: flex;
  gap: 8px;
}
.planOptionClickableContainer-O-50CZ {
  width: 100%;
  border-radius: 8px;
  -webkit-transition: .17s ease;
  transition: .17s ease;
}
.planOptionClickableContainer-O-50CZ .planOptionInterval-3QyrC0 {
  color: var(--header-primary);
}
.planOptionClickableContainer-O-50CZ:hover,
.lookLink__93965.colorPrimary__6ed40:hover {
  background: var(--bg-overlay-hover,var(--button-secondary-background-hover));
}
.planOptionClickableContainer-O-50CZ:active,
.lookLink__93965.colorPrimary__6ed40:active {
  background: var(--bg-overlay-active,var(--button-secondary-background-active));
}
.planOptionClickableContainer-O-50CZ[aria-checked="true"] {
  background: var(--brand-experiment);
}
.planOptionClickableContainer-O-50CZ[aria-checked="true"]:hover {
  background: var(--brand-experiment-560);
}
.planOptionClickableContainer-O-50CZ[aria-checked="true"]:active {
  background: var(--brand-experiment-600);
}
.planOption-187LtR {
  flex-direction: column;
  gap: 8px;
}
.root_a28985:not(:has(.imageWrapper_fd6587)) .templatesList-uohY49 + .footer-3ie9JP > .footerTitle-3Bslxi {
  line-height: 1;
  font-weight: 700;
  font-size: 1.125rem;
}
.colorwaySelectorModal {
  max-width: 564px;
  width: 564px;
}
.root_a28985:not(:has(.imageWrapper_fd6587)) .content__764ce:has(.colorwayCreationModal) {
  width: 100%;
}
.root_a28985:not(:has(.imageWrapper_fd6587)) .content__764ce .colorwayModalFooter {
  margin-left: -32px;
  margin-right: -32px;
}
.container-x8Y1ix {
  -webkit-transition: background .17s ease,color .17s ease;
  transition: background .17s ease,color .17s ease;
}
.container-x8Y1ix:hover {
  background: var(--bg-overlay-hover,var(--button-secondary-background-hover));
}
.container-x8Y1ix:active {
  background: var(--bg-overlay-active,var(--button-secondary-background-active));
}
.userProfileModalInner__7c87d::before {
  border-radius: 12px;
}
.roundedBanner__9fa0a {
  border-radius: 12px 12px 0 0;
}

/* User Panel Refresh  */
.panels__58331 {
    margin: 5px;
    margin-top: 0;
    border-radius: 12px;
    overflow: hidden;
    transition: .2s;
}
.panels__58331:hover {
    box-shadow: var(--light-elevation-border),var(--elevation-high);
}
.panels__58331 .container_ca50b9 {
    flex-direction: column;
    height: 88px;
    padding: 8px;
    background: var(--background-floating) !important;
    margin-bottom: -36px;
    transition: .2s;
}
.panels__58331:hover .container_ca50b9 {
    margin-bottom: 0;
}
.panels__58331 .avatarWrapper_ba5175 {
    margin-right: 0;
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
    margin-bottom: 4px;
    border-radius: 8px;
    transition: .15s;
}
.panels__58331 .directionRow__2bb0b {
    gap: 4px;
}
.panels__58331 .directionRow__2bb0b > button {
    width: calc((224px/3) - 7px);
    border-radius: 8px;
    transition: .15s;
}

/* @import url(https://seele1306.github.io/Snippets/BetterProfiles/import.css); */
/* [[ PROFILES ]] */
.customStatus__3aa7f .customStatusEmoji__00639 {
margin: 4px -12px 8px;
position: relative;
left: 50%;
float: none;
border-radius: 4px
}
.customStatus__3aa7f .customStatusEmoji__00639.customStatusSoloEmoji__24b58 {
position: relative;
left: 42.5%
}
.customStatus__3aa7f::before {
content: "Current status";
font-weight: 800;
color: var(--text-muted);
display: block
}
.customStatus__90402::before {
content: "Current status";
font-weight: 800;
color: var(--text-muted);
display: block
}
.defaultColor__77578.eyebrow_e5a66c.defaultColor__87d87.title_ef4a6d {
justify-content: center;
display: flex
}
.userPopoutInner_f545a3 {
max-height: calc(100vh - 125px)
}
.pronouns__8bcdb,
.pronouns_be950a {
text-transform: none;
color: var(--text-normal);
font-size: 15px;
font-weight: 800;
padding: 4px 6px;
margin: 10px 0 -25px 0;
border-radius: 8px;
max-width: 90%;
overflow: hidden;
background: linear-gradient(45deg, var(--profile-gradient-primary-color), var(--profile-gradient-secondary-color));
background-size: 200% 200%
}
.profileBannerPremium__9ca8f {
margin: 12px auto auto;
width: calc(100% - 24px);
height: calc(100px - 24px) !important;
min-height: 188px !important;
border-radius: 8px
}
.popoutBannerPremium__942db {
margin: 8px auto auto;
width: calc(100% - 16px) !important;
height: calc(10px - 16px) !important;
min-height: 106px !important;
border-radius: 4px
}
.scroller__83262 {
padding: 6px 12px
}
.section__6f61e>div:not(.roles__74a2b),
.userInfoText__5f822 {
padding: 8px
}
.scrollerSeparator__321f3 {
box-shadow: none
}
.section__6f61e.usernameSection__53868 {
margin-bottom: 8px
}
.container_b6b15b {
margin: 0 12px;
padding: 16px
}
.usernameSection__53868>div {
width: calc(100% - 16px)
}
.container__22d2b>div {
width: 100%
}
.section__6f61e>div:not(.activity__20c1e, .roles__74a2b),
.memberSinceContainer__0a28b,
.userInfoText__5f822,
.container_b6b15b,
.nameTag__7814f,
img[class*=emoji_] {
justify-content: center;
text-align: center
}
.section__6f61e>div:not(.roles__74a2b), 
.mutualGuildsList__6e961, 
.mutualFriendsList__632b5,
.container_b6b15b,
.userInfoText__5f822 {
background: var(--profile-body-background-color);
border-radius: 4px
}
/* remove border in modal connections */
.userInfoSection__1daf8+.userInfoSection__1daf8 {
border-top: none
}
/* fix badge list height */
.profileBadges__7a7cb.container__5bda1 {
min-height: fit-content;
margin-right: 10px
}
:is(.userPopoutInner_f545a3, .userInfoText__5f822) .blockquoteContainer_f24d1f {
justify-content: center
}
.userPopoutInner_f545a3 .markup_a7e664 a,
.userInfoText-2MFCmH.markup_a7e664 a,
.timestamp_a65714 {
background: var(--background-modifier-accent);
color: var(--text-link);
font-weight: bold;
padding: 0 4px;
border-radius: 8px
}
:is(.userPopoutInner_f545a3 .markup_a7e664 a, .userInfoText-2MFCmH.markup_a7e664 a, .timestamp_a65714):hover {
background: var(--background-modifier-hover);
text-decoration: none
}
.tabBarContainer__63f55 {
margin: 20px 0 0
}
.tabBar__35f81 {
display: flex;
flex-flow: row wrap;
justify-content: center;
align-items: center;
row-gap: 8px;
column-gap: 8px;
margin-bottom: 16px
}
.userProfileModalInner__7c87d .top__592a7 .item__48dda {
border: none;
background: color-mix(in srgb, var(--profile-body-background-color) 40%, transparent);
padding: 2px 0;
width: 31%;
border-radius: 4px;
text-align: center
}
.tabBarContainer__63f55,
.top__592a7 .themed_b957e8.item__48dda:hover {
border: none
}
.userProfileModalInner__7c87d .top__592a7 .item__48dda:hover {
background: color-mix(in srgb, var(--profile-body-background-color) 70%, transparent) !important
}
.userProfileModalInner__7c87d .top__592a7 .selected__5711d.item__48dda {
background: color-mix(in srgb, var(--profile-body-background-color) 100%, transparent)
}
.tabBarItem_b56b35 {
height: fit-content
}
.divider_d66e63 {
background: var(--profile-body-divider-color)
}
.platformIcon__05c5e {
margin: 2px 2px
}
.scroller__5a651 {
left: 12.5%
}
.userProfileOuterUnthemed__48723 .userPanelInner_eddf4c,
.root_a28985:has(.userProfileModalOuter__3fe6b) {
background: transparent !important
}
.profilePanel__12596 .userPanelInner_eddf4c {
border-radius: 8px
}
.connectedAccountContainer__23f00 {
border-width: 2px
}
.connectedAccountContainer__23f00:has(.connectedAccountOpenIcon_df549d:hover) {
background: var(--profile-body-divider-color)
}
.flowerStarContainer_d8d14b.connectedAccountVerifiedIcon_db6dbd>svg>path {
fill: var(--profile-body-divider-color);
filter: brightness(1) contrast(2)
}
:is(.userPopoutInner_f545a3, .profilePanel__12596) [class*=divider_] {
background: transparent;
border-color: transparent
}
.userInfoSection__1daf8 .eyebrow_f53856:last-child, /* Notes in profile modal */
.section__6f61e:has(.roles__74a2b:empty), /* no roles */
[class*=userPanelInner_]::before,
.lastSection__37b97, /* notes section */
.aboutMeGuildIcon_b05b69 /* Profile guild icon */
{
display: none !important
}
:root {
    --test-color: hsl(250, 45%, 45%);
    --section-thickness: 1px; /* must be in pixels */
    --profile-accent-color: 250deg 45% 45%;
    --profile-transparency: 25%;
    --profile-border-radius: 8px;
}
