/*remove nitro promo  */
.buttons_ce5b56>.button_afdfd9:first-child,
.link__2e8e1[href="/store"],
[class*="badgeContainer-"]:has([class*="bogoTrialBadge-"]),
[class*="giftCodeContainer-"]:first-child,
[aria-label="Customize your own profile theme, banner, animated avatar, and more with Nitro!"],
.containerWithMargin__7d380 {
  display: none;
}

/*rounded msg corner hover  */
.message__80c10 {
    margin-left: 16px;
    border-radius: 10px;
}

.mentioned__58017:before {
  width: 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* Remove Gift Button */
.buttons_ce5b56 button:has([d^="M16.886 7.999H20C21.104 7.999 22 8.896 22 9.999V11.999H2V9.999C2 8.896 2.897"]) {
    display: none;
}

/* Rounded Context Menu */
.menu_dc52c6 { 
    border-radius: 10px; 
}

/* Modify display of edited tags from MessageLogger */
.messagelogger-edited time span {
    font-size: 0;
    line-height: 1;
    user-select: none;
}
.messagelogger-edited time span:before {
    font-size: 0.625rem;
    content: "✏️  ";
    filter: grayscale();
    display: inline-block;
    transform: scaleX(-1);
}

/* ReivewDB improvements */
/* textarea[placeholder*="Review @"] {
    background-color: #00000040;
} */

/* Max out width for embed msglinks */
[class^=embedFull] > [class^=gridContainer] {
  max-width: 100%;
}

/* better codeblock */
.shiki-root {
    background: var(--background-secondary) !important;
}

/* better devices tab */
.session_f56359 {
    background-color: var(--background-secondary);
    border-radius: 8px;
    padding: 12px 16px;
    padding-left: 12px;
    border-bottom: none;
    margin-top: 16px;
    gap: 12px;
}

.sessionIcon__540be {
    color: var(--interactive-normal);
    background: transparent;
}

:root .pipModeShort__2888b{
    width: 420px;
    height: 236px;
}

.vc-notification-root {
  background-color: #248046 !important;
}
.vc-notification-close-btn {
  color: white !important;
}

/* fix markdown styles */
[class*=markup-] h1 {
    margin: 25px 0 7px;
}
[class*=markup-] h2 {
    margin: 20px 0 7px;
}
[class*=markup-] li {
    margin: 0;
}

/* @import url("https://css.f53.dev/discord/AlignedChatBox.css");  */
/* ----- Aligned Chatbox -----
  Squares up chatbox with user control area */
/* align edges of chatbox to sides */
:is(main,section)[class^=chatContent] > form { padding: 0px;  }

/* align chatbox to bottom */
:is(main,section)[class^=chatContent] > form > *:first-child { margin-bottom: 0px; }

/* center chatbox contents, no border radius */
:is(main,section)[class^=chatContent] > form > *:first-child > * {
  padding-top: 4px;
  min-height: 49px;
  border-radius: 0px;
}

/* slowmode/typing indicator */
:is(main,section)[class^=chatContent] > form > *:last-child[class^=typing] {
  top: -24px;
  right: 0px;
  margin-left: auto;
  width: fit-content;
  padding-left: 2px;
  padding-right: 9px;
  border-top-left-radius: 8px;
  background-color: var(--channeltextarea-background);
}

/* Fix replies */
main[class^=chatContent] > form > * > [class^=attachedBars] {
  min-height: unset !important;
  padding-bottom: 4px;
}

/* jump to present */
[class^=jumpToPresentBar] {
  left: 0;
  border-radius: 0px;
  border-top-right-radius: 8px;
  opacity: 1;
  background-color: var(--channeltextarea-background);
  right: unset;
}
[class^=jumpToPresentBar] > [class^=barButtonMain] {
  flex: 0 0 auto;
  display: none;
}

/* Chat textfield buttons (emoji, gif, etc) hidden in a drawer menu until hovered over - CSS snippet by DeadVoxels#3520 */
.buttons_ce5b56 {
    overflow: hidden;
    position: absolute;
    justify-content: flex-end;
    background: rgba(23, 24, 26, 0.25);
    border-radius: 8px;
    transition: all 350ms;
}
.buttons_ce5b56:where(:not(:hover)){
    max-width: 35px;
    right: -0px;
}
.buttons_ce5b56::before {
    opacity: 0%;
    transition: opacity 150ms;
    position: absolute;
    top: 4px;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Crect width='352' height='42' x='80' y='96' fill='rgb(181, 186, 193)' class='ci-primary'/%3E%3Crect width='352' height='42' x='80' y='240' fill='rgb(181, 186, 193)' class='ci-primary'/%3E%3Crect width='352' height='42' x='80' y='384' fill='rgb(181, 186, 193)' class='ci-primary'/%3E%3C/svg%3E");
    display: block;
    object-fit: cover;
    height: 44px;
    width: 35px;
}
.buttons_ce5b56:where(:not(:hover))::before {
    opacity: 100%;
    transition: opacity 350ms;
}
.buttons_ce5b56:hover {
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 16px;
    max-width: 100%;
    right: 0px;
    background: rgba(23, 24, 26, 0.5);
    transition: all 150ms;
}
.buttons_ce5b56 > div, .buttons_ce5b56 > button {
    transform: scaleX(0%) !important;
    opacity: 0%;
}
.buttons_ce5b56:hover > div, .buttons_ce5b56:hover > button {
    transform: scaleX(100%) !important;
    opacity: 100%;
}
.buttons_ce5b56 > div:hover svg, .buttons_ce5b56 > button:hover svg {
    height: 28px !important;
    width: 28px !important;
    margin-right: -2px;
    margin-left: -2px;
}
.buttons_ce5b56 > div:nth-last-child(2):hover > button > div > div > svg {
    margin-right: -4px;
    margin-left: -4px;
}
.buttons_ce5b56 > div svg, .buttons_ce5b56 > button svg {
    transition: all 0.3s;
}

/* Show Markdown URL link location */
.anchor_c8ddc0[title$=")"]::after {
    font-size: 0.7rem;
    content: " (" attr(href) ")";
    filter: grayscale(0.4);

/* @import url(//dablulite.github.io/css-snippets/UserReimagined/import.css); */
/* User panel  */
.panels__58331 .avatar_f8541f {
  border: 3px solid var(--background-tertiary);
  margin-top: -15px;
  transform: translateY(-2.5px);
  background-color: var(--background-tertiary);
}
.container_ca50b9 {
  flex-direction: column;
  padding: 0;
  height: fit-content;
  background: var(--bg-overlay-app-frame,var(--background-tertiary)) !important;
  margin-bottom: 0;
}
.panels__58331 .avatarWrapper_ba5175 {
  width: 100%;
  margin: 100 !important;
  padding: 4px;
  box-sizing: border-box;
  border-radius: 0;
  cursor: pointer;
}
.panels__58331 .avatarWrapper_ba5175:hover {
  background: var(--bg-overlay-hover,var(--background-modifier-hover));
}
.panels__58331 .avatarWrapper_ba5175:hover .avatar_f8541f {
  border-color: var(--background-accent);
  background-color: var(--background-accent);
}
.panels__58331 .avatarWrapper_ba5175 .nameTag__0e320 {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  cursor: pointer;
}
.container_ca50b9 > .flex_f5fbb7 {
  width: 100%;
  gap: 6px;
  padding: 6px;
  padding-right: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
}
.container_ca50b9 > .flex_f5fbb7 > button {
  border-radius: 50px;
  width: 100%;
  padding: 6px 0;
  height: fit-content;
  --inversed-overlay: rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-6));
  background: var(--inversed-overlay,var(--background-primary));
  transition: color .15s ease-out,background-color .15s ease-out;
}
.wrapper__0ed4a {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--background-modifier-accent);
  background: var(--bg-overlay-app-frame,var(--background-tertiary)) !important;
}
.container_d667ff {
  border-bottom: none;
  background: var(--bg-overlay-app-frame,var(--background-tertiary));
}
.wrapper__0ed4a:empty {
  display: none;
}
.actionButtons_b58cbb > button,
.actionButtons_b58cbb > div > button,
.actionButtons_b58cbb > div > span > button {
    border-radius: 50px;
    width: 100%;
    padding: 6px 0;
    height: fit-content;
    --inversed-overlay: rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-6));
    background: var(--inversed-overlay,var(--background-primary)) !important;
    transition: color .15s ease-out,background-color .15s ease-out;
    max-height: 32px;
}
.actionButtons_b58cbb button:hover {
  background: var(--bg-overlay-hover,var(--background-modifier-hover)) !important;
}
.actionButtons_b58cbb button:active {
  background: var(--bg-overlay-active,var(--background-modifier-active)) !important;
}
.actionButtons_b58cbb > div {
  display: flex;
  width: 100%;
}
.actionButtons_b58cbb > div > span > span {
  display: none;
}
.actionButtons_b58cbb > div > span {
  background-color: transparent !important;
}
.actionButtons_b58cbb {
    width: 100%;
    gap: 6px;
    padding: 0;
    box-sizing: border-box;
    display: flex;
}
.subtext__8f869,
.panelSubtextContainer_f28bed {
  max-width: unset;
  display: flex;
  width: 99%;
}
.hoverRoll__041cb {
    width: calc(100% - 32px);
}
:is(.wrapper__0ed4a:not(:empty), #vc-spotify-player) + .container_ca50b9 .avatar_f8541f {
    margin-top: 0;
    transform: none;
}
.wrapper__0ed4a:not(:empty) {
    padding: 0 !important;
    background: none !important;
    border-bottom: none !important;
}

/* @import url(https://seele1306.github.io/Snippets/BetterProfiles/import.css); */
/* [[ PROFILES ]] */
.customStatus__3aa7f .customStatusEmoji__00639 {
margin: 4px -12px 8px;
position: relative;
left: 50%;
float: none;
border-radius: 4px
}
.customStatus__3aa7f .customStatusEmoji__00639.customStatusSoloEmoji__24b58 {
position: relative;
left: 42.5%
}
.customStatus__3aa7f::before {
content: "Current status";
font-weight: 800;
color: var(--text-muted);
display: block
}
.customStatus__90402::before {
content: "Current status";
font-weight: 800;
color: var(--text-muted);
display: block
}
.defaultColor__77578.eyebrow_e5a66c.defaultColor__87d87.title_ef4a6d {
justify-content: center;
display: flex
}
.userPopoutInner_f545a3 {
max-height: calc(100vh - 125px)
}
.pronouns__8bcdb,
.pronouns_be950a {
text-transform: none;
color: var(--text-normal);
font-size: 15px;
font-weight: 800;
padding: 4px 6px;
margin: 10px 0 -25px 0;
border-radius: 8px;
max-width: 90%;
overflow: hidden;
background: linear-gradient(45deg, var(--profile-gradient-primary-color), var(--profile-gradient-secondary-color));
background-size: 200% 200%
}
.profileBannerPremium__9ca8f {
margin: 12px auto auto;
width: calc(100% - 24px);
height: calc(100px - 24px) !important;
min-height: 188px !important;
border-radius: 8px
}
.popoutBannerPremium__942db {
margin: 8px auto auto;
width: calc(100% - 16px) !important;
height: calc(10px - 16px) !important;
min-height: 106px !important;
border-radius: 4px
}
.scroller__83262 {
padding: 6px 12px
}
.section__6f61e>div:not(.roles__74a2b),
.userInfoText__5f822 {
padding: 8px
}
.scrollerSeparator__321f3 {
box-shadow: none
}
.section__6f61e.usernameSection__53868 {
margin-bottom: 8px
}
.container_b6b15b {
margin: 0 12px;
padding: 16px
}
.usernameSection__53868>div {
width: calc(100% - 16px)
}
.container__22d2b>div {
width: 100%
}
.section__6f61e>div:not(.activity__20c1e, .roles__74a2b),
.memberSinceContainer__0a28b,
.userInfoText__5f822,
.container_b6b15b,
.nameTag__7814f,
img[class*=emoji_] {
justify-content: center;
text-align: center
}
.section__6f61e>div:not(.roles__74a2b), 
.mutualGuildsList__6e961, 
.mutualFriendsList__632b5,
.container_b6b15b,
.userInfoText__5f822 {
background: var(--profile-body-background-color);
border-radius: 4px
}
/* remove border in modal connections */
.userInfoSection__1daf8+.userInfoSection__1daf8 {
border-top: none
}
/* fix badge list height */
.profileBadges__7a7cb.container__5bda1 {
min-height: fit-content;
margin-right: 10px
}
:is(.userPopoutInner_f545a3, .userInfoText__5f822) .blockquoteContainer_f24d1f {
justify-content: center
}
.userPopoutInner_f545a3 .markup_a7e664 a,
.userInfoText-2MFCmH.markup_a7e664 a,
.timestamp_a65714 {
background: var(--background-modifier-accent);
color: var(--text-link);
font-weight: bold;
padding: 0 4px;
border-radius: 8px
}
:is(.userPopoutInner_f545a3 .markup_a7e664 a, .userInfoText-2MFCmH.markup_a7e664 a, .timestamp_a65714):hover {
background: var(--background-modifier-hover);
text-decoration: none
}
.tabBarContainer__63f55 {
margin: 20px 0 0
}
.tabBar__35f81 {
display: flex;
flex-flow: row wrap;
justify-content: center;
align-items: center;
row-gap: 8px;
column-gap: 8px;
margin-bottom: 16px
}
.userProfileModalInner__7c87d .top__592a7 .item__48dda {
border: none;
background: color-mix(in srgb, var(--profile-body-background-color) 40%, transparent);
padding: 2px 0;
width: 31%;
border-radius: 4px;
text-align: center
}
.tabBarContainer__63f55,
.top__592a7 .themed_b957e8.item__48dda:hover {
border: none
}
.userProfileModalInner__7c87d .top__592a7 .item__48dda:hover {
background: color-mix(in srgb, var(--profile-body-background-color) 70%, transparent) !important
}
.userProfileModalInner__7c87d .top__592a7 .selected__5711d.item__48dda {
background: color-mix(in srgb, var(--profile-body-background-color) 100%, transparent)
}
.tabBarItem_b56b35 {
height: fit-content
}
.divider_d66e63 {
background: var(--profile-body-divider-color)
}
.platformIcon__05c5e {
margin: 2px 2px
}
.scroller__5a651 {
left: 12.5%
}
.userProfileOuterUnthemed__48723 .userPanelInner_eddf4c,
.root_a28985:has(.userProfileModalOuter__3fe6b) {
background: transparent !important
}
.profilePanel__12596 .userPanelInner_eddf4c {
border-radius: 8px
}
.connectedAccountContainer__23f00 {
border-width: 2px
}
.connectedAccountContainer__23f00:has(.connectedAccountOpenIcon_df549d:hover) {
background: var(--profile-body-divider-color)
}
.flowerStarContainer_d8d14b.connectedAccountVerifiedIcon_db6dbd>svg>path {
fill: var(--profile-body-divider-color);
filter: brightness(1) contrast(2)
}
:is(.userPopoutInner_f545a3, .profilePanel__12596) [class*=divider_] {
background: transparent;
border-color: transparent
}
.userInfoSection__1daf8 .eyebrow_f53856:last-child, /* Notes in profile modal */
.section__6f61e:has(.roles__74a2b:empty), /* no roles */
[class*=userPanelInner_]::before,
.lastSection__37b97, /* notes section */
.aboutMeGuildIcon_b05b69 /* Profile guild icon */
{
display: none !important
}
:root {
    --test-color: hsl(250, 45%, 45%);
    --section-thickness: 1px; /* must be in pixels */
    --profile-accent-color: 250deg 45% 45%;
    --profile-transparency: 25%;
    --profile-border-radius: 8px;
}
  
/* @import url("https://dablulite.github.io/css-snippets/BetterTitlebar/import.css"); */
/* Better Titlebar  */
.wordmarkWindows__05c46 > svg {
    width: 19px;
}
.wordmarkWindows__05c46 path:not(:first-child) {
    display: none;
}
.wordmarkWindows__05c46 path:first-child {
    d: path("M23.0212 1.67671C21.3107 0.879656 19.5079 0.318797 17.6584 0C17.4062 0.461742 17.1749 0.934541 16.9708 1.4184C15.003 1.12145 12.9974 1.12145 11.0283 1.4184C10.819 0.934541 10.589 0.461744 10.3368 0.00546311C8.48074 0.324393 6.67795 0.885118 4.96746 1.68231C1.56727 6.77853 0.649666 11.7538 1.11108 16.652C3.10102 18.1418 5.3262 19.2743 7.69177 20C8.22338 19.2743 8.69519 18.4993 9.09812 17.691C8.32996 17.3997 7.58522 17.0424 6.87684 16.6135C7.06531 16.4762 7.24726 16.3387 7.42403 16.1847C11.5911 18.1749 16.408 18.1749 20.5763 16.1847C20.7531 16.3332 20.9351 16.4762 21.1171 16.6135C20.41 17.0369 19.6639 17.3997 18.897 17.691C19.3052 18.4993 19.7718 19.2689 20.3021 19.9945C22.6677 19.2689 24.8929 18.1364 26.8828 16.6466H26.8893C27.43 10.9731 25.9665 6.04728 23.0212 1.67671ZM9.68041 13.6383C8.39754 13.6383 7.34085 12.4453 7.34085 10.994C7.34085 9.54272 8.37155 8.34973 9.68041 8.34973C10.9893 8.34973 12.0395 9.54272 12.0187 10.994C12.0187 12.4453 10.9828 13.6383 9.68041 13.6383ZM18.3161 13.6383C17.0332 13.6383 15.9765 12.4453 15.9765 10.994C15.9765 9.54272 17.0124 8.34973 18.3161 8.34973C19.6184 8.34973 20.6751 9.54272 20.6543 10.994C20.6543 12.4453 19.6184 13.6383 18.3161 13.6383Z") !important;
    scale: 2;
}
.wordmarkWindows__05c46 svg > g {
    transform: translateY(-75%);
}
.wordmarkWindows__05c46 {
    display: flex;
    gap: 6px;
    align-items: center;
    order: 1;
    margin-right: auto;
    color: var(--header-primary);
}
.wordmarkWindows__05c46::after {
    content: "Discord";
    display: flex;
    width: fit-content;
    font-size: 12px;
    font-family: var(--font-display);
    font-weight: 700;
}
html:has(#activeColorway:not(:empty)) .wordmarkWindows__05c46::after,
html:has(#activeColorwayCSS:not(:empty)) .wordmarkWindows__05c46::after{
    content: "Colorways";
    background-color: var(--background-primary);
    padding: 2px 8px;
    border-radius: 16px;
}
.typeWindows__5fa63 {
    margin-top: 0;
    padding: 4px;
    height: fit-content;
}
.typeWindows__5fa63 > .winButton__88672,
.typeWindows__5fa63 > .wordmarkWindows__05c46 {
    position: relative;
}
.winButton__88672 {
    top: 0 !important;
    margin: -4px 0;
    height: 31px;
    width: 46px;
}
.winButtonClose__73489 {
    margin-right: -4px;
}
.platform-win .container__4bde3 {
    padding-top: 31px !important;
    top: -31px !important;
}
  
/* @import url(//dablulite.github.io/css-snippets/DeclutterBar/import.css); */
/* Top Bar declutter  */
/* @import url("https://dablulite.github.io/css-snippets/BetterTitlebar/import.css"); */
.container__11d72 {
    position: fixed;
    top: 0;
    left: 0;
    height: 31px;
    min-height: unset;
    width: 100vw;
    background: none !important;
    padding-left: 0;
    box-shadow: none;
    padding-right: calc(46px*3);
    box-sizing: border-box;
}
.upperContainer__993ba {
    -webkit-app-region: drag;
}
.chat__52833,
.base__3e6af,
.container__037ed,
.layers__1c917>.layer__2efaa,
.notAppAsidePanel__9d124,
.app_b1f720,
.app_de4237,
.layers__1c917 {
    overflow: visible !important;
}
.appAsidePanelWrapper__714a6 {
    overflow: visible;
}
.withFrame__485f4 {
    width: fit-content;
    margin-left: auto;
}
.bg__12180,
.platform-win .layer__2efaa {
    top: 0 !important;
    padding-top: 0;
}
.children__32014:after,
.tabBody_b3d268:before {
    content: none;
}
.wordmarkWindows__05c46 {
    display: none;
}
.topicClickTarget_eeb305 {
    width: auto;
    display: flex;
    flex: 0 1 auto;
}
.container__11d72 .toolbar__88c63,
.container__11d72 .topicClickTarget_eeb305 {
    -webkit-app-region: no-drag;
}
.container__11d72 .divider_c09b64 {
    display: none;
}
.search__07df0,
.search_ac353c,
.searchBar_e0c60b {
    height: 31px;
    align-items: center;
}
.DraftEditor-root {
    height: fit-content;
    transition: .2s ease;
}
.search_ac353c:not(.open_d3ab4e) > .searchBar_e0c60b .DraftEditor-root {
    opacity: 0;
    position: absolute;
    width: 100%;
}
.container__11d72 .iconWrapper_af9215 .icon__4cb88 {
    scale: .8;
}
.input__321f5 {
    box-shadow: none !important;
    border-radius: 0;
}
.container__11d72 .topPill__0cdf1 {
    height: 31px;
    gap: 8px;
}
.container__11d72 .tabBar__73938 .item_e4ca95 {
    margin: 4px 0;
    border-radius: 50px;
    background-color: transparent !important;
    color: var(--interactive-normal) !important;
}
.container__11d72 .tabBar__73938 .item_e4ca95:hover {
    background-color: hsl(var(--primary-600-hsl)/.4) !important;
}
.container__11d72 .tabBar__73938 .item_e4ca95.selected__5711d {
    background-color: var(--background-primary) !important;
    color: var(--interactive-active) !important;
}
.platform-win .standardSidebarView__1129a {
    top: 0;
}
.searchBar_ff8800 {
    margin: 0;
    border-radius: 0;
    z-index: +2;
}
.container_def45c .container__11d72 {
    position: static;
    width: 100%;
    padding: 0;
    background: var(--bg-overlay-app-frame,var(--background-tertiary)) !important;
    -webkit-app-region: no-drag;
}
.container__11d72 .toolbar__88c63 {
    height: 31px;
}
.container__11d72 .toolbar__88c63 .iconWrapper_af9215 {
    margin: 0;
    width: 46px;
    height: 31px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.container__11d72 .toolbar__88c63 .iconWrapper_af9215:hover {
    background-color: var(--background-modifier-hover);
    color: var(--interactive-hover);
}
.container__11d72 .toolbar__88c63 .iconWrapper_af9215:has(path[d="M18.4 4L12 10.4L5.6 4L4 5.6L10.4 12L4 18.4L5.6 20L12 13.6L18.4 20L20 18.4L13.6 12L20 5.6L18.4 4Z"]):hover {
    background-color: var(--status-danger);
}
.callContainer_cbde45 {
    overflow: visible;
}
.headerWrapper__94dd8 {
    margin: 0;
}
.topControls_d202b0 {
    width: calc(100% + 32px);
    margin-left: -16px;
    opacity: 1 !important;
    transform: none !important;
}
.topControls_d202b0 .justifyEnd__5d719 {
    padding: 8px 16px;
}
.searchBar_e0c60b {
    border-radius: 0;
    padding: 0 4px;
    width: 46px;
    justify-content: center;
    align-items: center;
}
.search_ac353c:not(.open_d3ab4e) > .searchBar_e0c60b {
    cursor: pointer;
    padding: 0;
}
.search_ac353c:not(.open_d3ab4e) > .searchBar_e0c60b .icon__46425 {
    cursor: pointer;
}
.searchBar_e0c60b:hover,
.open_d3ab4e > .searchBar_e0c60b {
    background-color: var(--background-modifier-hover);
}
.search__07df0 {
    margin: 0;
    order: -1;
}
.searchBar_e0c60b:hover .icon__46425,
.open_d3ab4e > .searchBar_e0c60b .icon__46425 {
    color: var(--interactive-hover);
}
.container__11d72 .toolbar__88c63 .iconWrapper_af9215 .iconBadge_cc5031 {
    display: none;
}
.container__11d72 .toolbar__88c63 .iconWrapper_af9215:has(.iconBadge_cc5031)::after {
    content: "";
    width: 46px;
    height: 1px;
    position: absolute;
    bottom: 1px;
    left: 0;
    box-shadow: 0 1px 1px hsl(var(--red-400-hsl)/1),0 0px 4px hsl(var(--red-400-hsl)/1);
}
.container__11d72 .toolbar__88c63 .iconWrapper_af9215:has(.iconBadge_cc5031) {
    overflow: hidden;
}
.autocompleteAttached_ac1f6b {
    z-index: +999;
    background: var(--bg-overlay-chat,var(--background-primary));
}
.children__32014 > .hiddenVisually__06c3e:first-of-type {
    display: flex;
    height: fit-content;
    position: static;
    clip: unset;
    clip-path: unset;
    font-size: 0;
    order: -1;
    width: auto;
    flex: 0 0 auto;
    align-items: center;
}
.children__32014 > .hiddenVisually__06c3e:first-of-type::after {
    content: "Discord";
    display: flex;
    width: fit-content;
    font-size: 12px;
    font-family: var(--font-display);
    font-weight: 700;
    color: var(--header-primary);
}
.children__32014 > .hiddenVisually__06c3e:first-of-type::before {
    content: "";
    clip-path: path("M23.0212 1.67671C21.3107 0.879656 19.5079 0.318797 17.6584 0C17.4062 0.461742 17.1749 0.934541 16.9708 1.4184C15.003 1.12145 12.9974 1.12145 11.0283 1.4184C10.819 0.934541 10.589 0.461744 10.3368 0.00546311C8.48074 0.324393 6.67795 0.885118 4.96746 1.68231C1.56727 6.77853 0.649666 11.7538 1.11108 16.652C3.10102 18.1418 5.3262 19.2743 7.69177 20C8.22338 19.2743 8.69519 18.4993 9.09812 17.691C8.32996 17.3997 7.58522 17.0424 6.87684 16.6135C7.06531 16.4762 7.24726 16.3387 7.42403 16.1847C11.5911 18.1749 16.408 18.1749 20.5763 16.1847C20.7531 16.3332 20.9351 16.4762 21.1171 16.6135C20.41 17.0369 19.6639 17.3997 18.897 17.691C19.3052 18.4993 19.7718 19.2689 20.3021 19.9945C22.6677 19.2689 24.8929 18.1364 26.8828 16.6466H26.8893C27.43 10.9731 25.9665 6.04728 23.0212 1.67671ZM9.68041 13.6383C8.39754 13.6383 7.34085 12.4453 7.34085 10.994C7.34085 9.54272 8.37155 8.34973 9.68041 8.34973C10.9893 8.34973 12.0395 9.54272 12.0187 10.994C12.0187 12.4453 10.9828 13.6383 9.68041 13.6383ZM18.3161 13.6383C17.0332 13.6383 15.9765 12.4453 15.9765 10.994C15.9765 9.54272 17.0124 8.34973 18.3161 8.34973C19.6184 8.34973 20.6751 9.54272 20.6543 10.994C20.6543 12.4453 19.6184 13.6383 18.3161 13.6383Z");
    height: 20px;
    width: 31px;
    background-color: var(--header-primary);
    margin: 0 auto;
    scale: .6;
    margin-left: 4px;
    display: flex;
}
.children__32014 .titleWrapper__482dc:not(:last-of-type) {
    width: max-content;
    flex: 0 0 auto;
    -webkit-app-region: no-drag;
}
.titleWrapper__482dc {
    display: flex;
    min-width: unset;
    width: fit-content;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: unset;
}
.title__9e2b0 {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
}
.container_def45c .container__11d72 {
    z-index: 101;
}
html:has(#activeColorway:not(:empty)) .children__32014 > .hiddenVisually__06c3e:first-of-type::after,
html:has(#activeColorwayCSS:not(:empty)) .children__32014 > .hiddenVisually__06c3e:first-of-type::after {
    content: "Colorways";
    display: flex;
    width: fit-content;
    font-size: 12px;
    font-family: var(--font-display);
    font-weight: 700;
    background-color: var(--background-primary);
    padding: 2px 8px;
    border-radius: 16px;
    -webkit-app-region: no-drag;
    transition: background-color .15s ease-out, border-radius .2s ease;
    height: min-content;
    color: var(--header-primary);
    margin-left: 0;
}
html:has(#activeColorway:not(:empty)) .children__32014 > .hiddenVisually__06c3e:first-of-type:hover::after,
html:has(#activeColorwayCSS:not(:empty)) .children__32014 > .hiddenVisually__06c3e:first-of-type:hover::after {
    background-color: var(--brand-experiment);
    border-radius: 8px;
}
.newMessagesBar__8b6d7 .barButtonAlt__4b48f {
    position: absolute;
    top: -31px;
    font-size: 0;
    height: 31px;
    width: 46px;
    -webkit-app-region: no-drag;
    padding: 0;
    justify-content: center;
    right: calc((-46px * 2.5) - 4px);
}
.newMessagesBar__8b6d7 .barButtonAlt__4b48f:hover {
    background-color: var(--background-modifier-hover);
}
.newMessagesBar__8b6d7 .barButtonAlt__4b48f > .barButtonIcon__907ef {
    margin-left: 0;
}
.newMessagesBar__8b6d7 .barButtonMain__0f5c6 {
    display: none;
}
.newMessagesBar__8b6d7 {
    background: none;
    box-shadow: none;
    height: 0;
    min-height: 0;
}
.newMessagesBar__8b6d7,
.messagesWrapper_ea2b0b {
    z-index: 100;
}
.chat__52833:has(.newMessagesBar__8b6d7) .container__11d72 {
    padding-right: calc(46px*4);
    background: var(--brand-600) !important;
}
:root:has(.newMessagesBar__8b6d7) .container__11d72 .searchBar_e0c60b:not(:hover) {
    background: var(--brand-600) !important;
}
.chat__52833:has(.newMessagesBar__8b6d7) .titleWrapper__482dc {
    display: flex;
    gap: 8px;
    margin: 0;
}
.chat__52833:has(.newMessagesBar__8b6d7) .children__32014 > .hiddenVisually__06c3e:first-of-type::after {
    content: "Discord | Unread messages";
}
html:has(#activeColorway:not(:empty)) .chat__52833:has(.newMessagesBar__8b6d7) .children__32014 > .hiddenVisually__06c3e:first-of-type::after,
html:has(#activeColorwayCSS:not(:empty)) .chat__52833:has(.newMessagesBar__8b6d7) .children__32014 > .hiddenVisually__06c3e:first-of-type::after {
    content: "Colorways | Unread messages";
}
.chat__52833:has(.newMessagesBar__8b6d7) .container__11d72 :is(.icon__4cb88,.icon__46425,.topic__16ae3) {
    color: var(--interactive-hover);
}
:root:has(.newMessagesBar__8b6d7) .withFrame__485f4 .winButton__88672 {
    color: var(--interactive-hover);
}
.form__13a2c {
    z-index: 100;
}
.callContainer_cbde45 {
    max-width: 100%;
}
.returnButton_c34965 .contents_fb6220 .text-xs-medium__220aa {
    font-size: 0 !important;
}
.returnButton_c34965 {
    border-radius: 0;
    border: none;
    transition: none;
    margin: 0;
    width: 46px;
    padding: 0;
    min-width: unset;
}
.returnButton_c34965 .contents_fb6220 {
    display: flex;
    margin: 0;
    overflow: visible;
    background-image: none !important;
    gap: 4px;
}
.returnButton_c34965:hover {
    background-color: var(--background-modifier-hover) !important;
}
.returnButton_c34965 .contents_fb6220 .returnIcon_e5a812 {
    color: var(--interactive-normal) !important;
    margin: 0;
}
.returnButton_c34965:hover .contents_fb6220 .returnIcon_e5a812 {
    color: var(--interactive-hover) !important;
}
.returnButton_c34965 .contents_fb6220::before {
    content: "<";
    color: var(--interactive-normal);
    width: fit-content;
    height: 16px;
    display: block;
    font-family: var(--font-code);
}
.returnButton_c34965:hover .contents_fb6220::before {
    color: var(--interactive-hover);
}
.returnButton_c34965 .iconContainer__3f9b0 {
    margin: 0;
}
.searchBar_e0c60b {
    background: none;
}
.wrapper_bd2abe,
.applicationStore_fc7d76 .scroller__244e5,
.applicationStore_fc7d76 {
    border-top-left-radius: 8px;
}
.followButton__2e268 {
    -webkit-app-region: no-drag;
    border-radius: 0;
    height: 31px;
    background-color: transparent !important;
    transition: none;
    margin-right: 0;
    margin-left: auto;
    color: var(--interactive-normal) !important;
    width: 46px;
    padding: 0;
    order: 10;
}
.followButton__2e268:hover {
    background-color: var(--background-modifier-hover) !important;
    color: var(--interactive-hover) !important;
}
.followButton__2e268::before {
    content: "";
    background-color: currentColor;
    clip-path: path("M3.9 8.26H2V15.2941H3.9V8.26Z M19.1 4V5.12659L4.85 8.26447V18.1176C4.85 18.5496 5.1464 18.9252 5.5701 19.0315L9.3701 19.9727C9.4461 19.9906 9.524 20 9.6 20C9.89545 20 10.1776 19.8635 10.36 19.6235L12.7065 16.5242L19.1 17.9304V19.0588H21V4H19.1ZM9.2181 17.9944L6.75 17.3826V15.2113L10.6706 16.0753L9.2181 17.9944Z");
    width: 19px;
    height: 19px;
    display: inline-block;
    scale: .9;
    translate: -2px -1px;
}
.followButton__2e268 > .contents_fb6220 {
    display: none;
}
.titleWrapper__482dc {
    margin-right: 8px;
}
.headerBar_afb1ac:before {
    content: none;
}
.topic__16ae3 .anchor_c8ddc0 {
    display: flex;
    align-items: center;
    gap: 3px;
    height: 31px;
    color: var(--interactive-normal);
    padding: 0 2px;
    padding-right: 8px;
    margin: 0 0.25em;
}
.topic__16ae3 .anchor_c8ddc0:hover {
    background-color: var(--background-modifier-hover);
    color: var(--interactive-hover);
}
.topic__16ae3 .anchor_c8ddc0::before {
    content: "";
    background-color: currentColor;
    clip-path: path("M10.59 13.41c.41.39.41 1.03 0 1.42-.39.39-1.03.39-1.42 0a5.003 5.003 0 0 1 0-7.07l3.54-3.54a5.003 5.003 0 0 1 7.07 0 5.003 5.003 0 0 1 0 7.07l-1.49 1.49c.01-.82-.12-1.64-.4-2.42l.47-.48a2.982 2.982 0 0 0 0-4.24 2.982 2.982 0 0 0-4.24 0l-3.53 3.53a2.982 2.982 0 0 0 0 4.24zm2.82-4.24c.39-.39 1.03-.39 1.42 0a5.003 5.003 0 0 1 0 7.07l-3.54 3.54a5.003 5.003 0 0 1-7.07 0 5.003 5.003 0 0 1 0-7.07l1.49-1.49c-.01.82.12 1.64.4 2.43l-.47.47a2.982 2.982 0 0 0 0 4.24 2.982 2.982 0 0 0 4.24 0l3.53-3.53a2.982 2.982 0 0 0 0-4.24.973.973 0 0 1 0-1.42z");
    width: 22px;
    height: 22px;
    display: inline-block;
    scale: .82;
}
.topic__16ae3 .channelMention {
    border-radius: 0;
    height: 31px;
    align-items: center;
    display: flex;
    margin: 0 0.25em;
}
.topic__16ae3 .channelWithIcon {
    align-items: center;
    display: flex;
}
.topic__16ae3 .channelWithIcon .icon_ecf39b {
    margin-bottom: 0.05rem;
}
.topic__16ae3 .channelMention:not(:hover) {
    background-color: transparent;
}
.topic__16ae3 {
    width: min-content !important;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-flex;
    height: 31px;
    white-space: nowrap;
    line-height: 31px;
    max-width: 50% !important;
    min-width: unset !important;
    position: relative;
    flex: 0 0 auto;
    align-items: center;
}
.container__11d72 .children__32014 {
    overflow: hidden;
}
.topic__16ae3 .channelMention {
    width: fit-content;
    display: inline-flex;
}
.topic__16ae3 .emojiContainer__4a804 > .emoji {
    height: 31px;  
}
.topic__16ae3 .anchor_c8ddc0 {
    display: inline-flex;
}
.topicClickTarget_eeb305 {
    width: 100%;
}
.container__204bd,
.container__204bd .input__321f5 {
    height: 31px;
    line-height: 31px;
}
.typeWindows__5fa63 {
    height: 31px;
    box-sizing: border-box;
}
.upperContainer__993ba {
    align-items: center;
}
.container__204bd,
.container__204bd .input__321f5 {
    height: 28px;
    line-height: 28px;
}
.guilds__2b93a.hidden__7c832 + .base__3e6af > .content__4bf10 {
    width: 100vw;
}
.guilds__2b93a.hidden__7c832 + .base__3e6af > .content__4bf10 .chatContent__5dca8 {
    opacity: 0;
}
.title-dzyan3 {
    margin-left: 0;
}
.form__13a2c,
.clipContainer__99c30 {
    margin-top: 0;
}
.scrollerSpacer__9cd32 {
    height: 26px;
}
.notice__5fd4c {
    height: 31px;
    -webkit-app-regin: no-drag;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    top: unset;
    box-shadow: none;
}
.notice__5fd4c:not(:first-of-type) {
    border-radius: 0;
}
.notice__5fd4c > :is(.premiumIcon_e76cb7,.button__57d93) {
    top: 0;
}
.notice__5fd4c > .closeButton_ffc97a {
    height: 31px;
}
.layer__2efaa:not(.baseLayer__8fda3) {
    top: -31px !important;
    padding-top: 31px !important;
}
